body {
  color: var(--dark);
}

.wip-line {
  margin-top: 0.5em;
  border: 1px solid rgb(80, 80, 5);
  padding: 0.5em;
  color: rgb(80, 80, 5);
  background:  rgba(255, 255, 0, 0.303);
}

.welcome {
  max-width: 920px;
  margin: 0 auto;
}

.welcome-button {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  display: block;
  width: 150px;
  text-align: center;
}

.tools p + img {
  float: right;
  max-width: 100px;
  display: block;
  padding: 1em;
}

.automation-management p + img {
  /* float: right; */
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 1em;
}


a {
  text-decoration-color: transparent !important;
}

.logo {
  width: 60px;
  height: 60px !important;
  position: relative;
  top: -2px;
}

.theme,
.nav-bar {
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.container {
  max-width: 100% !important;
  padding-bottom: 0 !important;
}

.home-content{
  padding: 0 1.5rem !important;
  max-width: 100% !important;
}

@media (min-width: 720px) {
  .nav-links {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .theme,
  .nav-bar {
    max-width: 960px !important;
  }

  .theme {
    display: flex;
  }

  .page {
    margin-left: 0 !important;
    width: 100%;
  }

  .sidebar {
    border-right-color: transparent !important;
    height: calc(100vh - 4.25rem);
    margin-top: 4.25rem !important;
    position: sticky !important;
    top: 4.25rem !important;
  }

  @media (min-width: 960px) {
    .sidebar {
        width: 20.4rem !important;
    }
  }

  .sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item {
    border-left-color: transparent !important;
  }
}

.theme.no-sidebar {
  max-width: 100% !important;
  display: block;
}

footer {
  padding: 0rem 0 3rem 0;
  font-size: 0.8rem;
  /* margin-left: 0 !important; */
}


footer a {
  /* display: inline-block; */
  /* padding: 0 2rem; */
  color: var(--dark-grey);
}

footer nav {
  border-top: 1px solid var(--c-divider);
  padding-top: 30px;
}



