


:root {
  --c-brand: rgba(122, 124, 224);
  --c-divider: #F3F3F3;
  --black: #000000;
  --white: #ffffff;
  --dark: #2F2F2F;
  --dark-grey: #999999;
  --medium-grey: #D6D6D6;
  --light-grey: #F3F3F3;
  --blue: #6C5DD2;
  --orange: #DD7C83;
  --red: #FC5775;
  --red-light: #FBEDF0;
  --purple: rgba(122, 124, 224);
  --highlight-blue: rgba(122, 124, 224, 0.1)
}

@media (min-width: 720px) {
  :root {
    --header-height: 4.375rem;
  }
}
